
.header {
    color: white;
    background-color: navy;
    min-height: 80px;
}

h1 {
  margin: auto;
}

.jumbotron {
    background-color: lightsteelblue;
}

.card {
    color: white;
    background-color: rgb(57, 162, 227);
    margin: 10px;
}